body {
  font-family: 'Open Sans', sans-serif;
  margin: 0; }

body a {
  text-decoration: none; }

.main-head {
  background-image: url("../img/hood.png");
  -webkit-background-size: cover;
          background-size: cover;
  width: 100%;
  height: 200px; }

.head-section {
  background-image: url("../img/energy1.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  width: 100%;
  height: 760px; }

.bgc {
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); }

.content {
  z-index: 20; }

.content p {
  color: #ffffff;
  font-size: 10px; }

.logo {
  width: 150px;
  height: 150px;
  border-right: 6px solid #fff;
  margin-top: 20px; }

.logo img {
  width: 150px;
  height: 160px; }

.logo-text {
  margin-top: 50px; }

.logo-text h1 {
  font-size: 40px;
  color: #ffffff;
  margin: 0; }

.logo-text h2 {
  font-size: 30px;
  padding-left: 30px;
  color: #ffffff;
  margin: 0;
  font-family: 'Marck Script', cursive; }

.toggle {
  float: right;
  position: fixed;
  right: 40px;
  top: 40px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  border-style: none;
  outline: none;
  z-index: 200; }

#sandwich {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 30; }

.sw-topper {
  position: relative;
  top: 0;
  width: 44px;
  height: 6px;
  background: white;
  border: none;
  -webkit-border-radius: 4px 4px 4px 4px;
          border-radius: 4px 4px 4px 4px;
  -webkit-transition: top 0.2s, -webkit-transform 0.5s;
  transition: top 0.2s, -webkit-transform 0.5s;
  -o-transition: transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s, -webkit-transform 0.5s;
  /* transition-delay: 0.2s, 0s; */ }

.sw-bottom {
  position: relative;
  width: 44px;
  height: 6px;
  top: 12px;
  background: white;
  border: none;
  -webkit-border-radius: 4px 4px 4px 4px;
          border-radius: 4px 4px 4px 4px;
  -webkit-transition: top 0.2s, -webkit-transform 0.5s;
  transition: top 0.2s, -webkit-transform 0.5s;
  -o-transition: transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s;
  transition: transform 0.5s, top 0.2s, -webkit-transform 0.5s;
  -webkit-transition-delay: 0.2s, 0s;
       -o-transition-delay: 0.2s, 0s;
          transition-delay: 0.2s, 0s; }

.sw-footer {
  position: relative;
  width: 44px;
  height: 6px;
  top: 24px;
  background: white;
  border: none;
  -webkit-border-radius: 4px 4px 4px 4px;
          border-radius: 4px 4px 4px 4px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-delay: 0.1s;
       -o-transition-delay: 0.1s;
          transition-delay: 0.1s; }

#sandwich.active .sw-topper {
  top: 18px;
  -webkit-transform: rotate(140deg);
      -ms-transform: rotate(140deg);
          transform: rotate(140deg); }

#sandwich.active .sw-bottom {
  top: 12px;
  -webkit-transform: rotate(-140deg);
      -ms-transform: rotate(-140deg);
          transform: rotate(-140deg); }

#sandwich.active .sw-footer {
  opacity: 0;
  top: 4;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.mnu {
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: fixed;
  z-index: 20;
  display: none; }

.mnu-side {
  width: 22%;
  height: 100%;
  float: right;
  background-color: rgba(0, 0, 0, 0.7);
  border-left: 4px solid;
  border-color: #FFF; }

.navigation {
  z-index: 300; }

.fast-nav {
  width: 100%; }

.content-nav-fast-links {
  display: block;
  text-align: center;
  width: 100px;
  margin: 0 auto;
  padding-top: 120px; }

.content-nav-fast-links a {
  color: #ffffff;
  display: block;
  width: 100px;
  height: 100px;
  font-size: 18px;
  border: 4px solid;
  -webkit-border-radius: 500px;
          border-radius: 500px;
  padding-top: 33px;
  background-color: rgba(0, 0, 0, 0.5); }

.border {
  width: 6px;
  height: 30px;
  background-color: #ffffff;
  margin-left: 47px; }

.content-nav-fast-links a:hover {
  background-color: #ffffff;
  color: #000;
  border-color: #fff; }

.mnu-links {
  text-align: center;
  list-style-type: none;
  margin-top: 70%; }

.mnu-links a {
  color: #ffffff;
  font-size: 24px; }

.mnu-links li {
  margin-top: 40px; }

.news {
  width: 100%;
  height: 500px;
  background-color: #d4d4d4; }

.title {
  display: block;
  width: 450px;
  padding-left: 60px;
  border-bottom: 3px solid;
  border-color: black;
  margin-top: 60px; }

.title h1 {
  font-size: 60px;
  margin: 0; }

.photo {
  width: 100%;
  height: 960px;
  background-image: url("../img/electricity-1280x640.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  z-index: 1; }

.container-carousel {
  margin: 0 auto;
  width: 450px;
  height: 400px;
  position: relative;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  z-index: 100; }

.carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  margin-top: 200px; }

.item {
  display: block;
  position: absolute;
  background: #000;
  width: 380px;
  height: 360px;
  line-height: 200px;
  font-size: 5em;
  text-align: center;
  color: #FFF;
  opacity: 0.95;
  -webkit-border-radius: 10px;
          border-radius: 10px; }

.a {
  -webkit-transform: rotateY(0deg) translateZ(390px);
          transform: rotateY(0deg) translateZ(390px); }

.b {
  -webkit-transform: rotateY(60deg) translateZ(390px);
          transform: rotateY(60deg) translateZ(390px);
  background: #0072bc; }

.c {
  -webkit-transform: rotateY(120deg) translateZ(390px);
          transform: rotateY(120deg) translateZ(390px);
  background: #39b54a; }

.d {
  -webkit-transform: rotateY(180deg) translateZ(380px);
          transform: rotateY(180deg) translateZ(380px);
  background: #f26522; }

.e {
  -webkit-transform: rotateY(240deg) translateZ(390px);
          transform: rotateY(240deg) translateZ(390px);
  background: #630460; }

.f {
  -webkit-transform: rotateY(300deg) translateZ(390px);
          transform: rotateY(300deg) translateZ(390px);
  background: #8c6239; }

.buttons {
  top: 1630px;
  width: 100%;
  height: 40px;
  padding: 40px;
  z-index: 100; }

.next {
  right: 6em;
  float: right;
  font-size: 40px;
  color: #fff; }

.prev {
  left: 5em;
  float: left;
  font-size: 40px;
  color: #fff; }

.bgc-carusel {
  z-index: 10;
  width: 100%;
  height: 960px;
  background-color: rgba(0, 0, 0, 0.5); }
